.toc {
  position: sticky;
  top: 80px;
  height: 100%;
  margin-left: 10px;
  width: 30%;
  white-space: nowrap;
}

.toc h2 {
  margin: 80px 0px 10px 0px;
}

.toc h2,
.toc nav {
  margin-left: -10px;
}

.toc li {
  margin: 4px 0;
}

.toc a {
  text-decoration: none;
  font-size: 14px;
  color: #9c9c9c; 
  transition: 0.1s linear color;
}

.toc a,
.accordion a {
  text-decoration: none;
  font-size: 14px;
  color: #9c9c9c;
  transition: 0.1s linear color;
}

.toc ol,
.accordion ol {
  list-style: none;
}

.toc a:hover {
  filter: brightness(1.2);
}